<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interno</title>
    <script src="https://kit.fontawesome.com/249c288045.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
        <header class="header center">
            <div class="header__left">
                <div class="logo">
                    <img class="logo__img" src="img/Logo.png" alt="логотип">
                    <p class="logo__text">Interno</p>
                </div>
            </div>
            <div class="header__right">
                <div class="menubar">
                    <a class="menu" href="index.html">Home</a>
                    <a class="menu" href="#">Project</a>
                    <a class="menu" href="blog.html">Blog</a>
                </div>
            </div>
        </header>
        <section class="blog-banner">
            <img src="img/blog/Banner_blog_details.jpg" alt="баннер">
        </section>
        <section class="blog_flex center blog_margin" id="app">
    <!-- <div id="app"> -->
        <div class="blog-details">
            <div v-for="article in articles" :key="article.id" class="blog-details__article">
                <div class="blog-details__img">
                    <img :src="article.img" alt="статья">
                    <p class="blog-details__tag">{{ article.tag }}</p>
                </div>
                <div class="blog-details__text">
                    <h2 class="blog-details__heading">{{ article.heading }}</h2>
                </div>
                <div class="blog-details__block">
                    <p class="blog-details__date">{{ article.date }}</p>
                    <div class="blog-details__btn"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
        
        <div class="sidebar">
            <h3 class="sidebar__heading">Tags</h3>
            <div class="sidebar__tags">
                <div class="tag" @click="findArticles($event)">Kitchen</div>
                <div class="tag" @click="findArticles($event)">Bedroom</div>
                <div class="tag" @click="findArticles($event)">Building</div>
                <div class="tag" @click="findArticles($event)">Architecture</div>
                <div class="tag" @click="findArticles($event)">Kitchen Planning</div>
                <div class="tag" @click="findArticles($event)">Bedroom</div>
            </div>
        </div>
            <article></article>


            <!-- <div class="blog-details">
                <div v-for="article in articles" :key="article.id" class="blog-details__article">
                    <div class="blog-details__img">
                        <img :src="article.img" alt="статья">
                        <p class="blog-details__tag">{{ article.tag }}</p>
                    </div>
                    <div class="blog-details__text">
                        <h2 class="blog-details__heading">{{ article.heading }}</h2>
                    </div>
                    <div class="blog-details__block">
                        <p class="blog-details__date">{{ article.date }}</p>
                        <div class="blog-details__btn"><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>

            </div>
            <div class="sidebar">
                <h3 class="sidebar__heading">Tags</h3>
                <div class="sidebar__tags">
                    <div class="tag" @click="findArticles($event)">Kitchen</div>
                    <div class="tag" @click="findArticles($event)">Bedroom</div>
                    <div class="tag" @click="findArticles($event)">Building</div>
                    <div class="tag" @click="findArticles($event)">Architecture</div>
                    <div class="tag" @click="findArticles($event)">Kitchen Planning</div>
                    <div class="tag" @click="findArticles($event)">Bedroom</div>
                </div>
            </div> -->

<!-- </div> -->
        </section>
        <footer class="footer center">
            <div class="about">
                <div class="logo">
                    <img class="logo__img" src="img/Logo.png" alt="логотип">
                    <p class="logo__text">Interno</p>
                </div>
                <p class="about__text">It is a long established fact that a reader will be distracted lookings.</p>
                <div class="icons">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>
            <div class="pages">
                <h2 class="pages__heading">Pages</h2>
                <a href="#" class="pages__link">Home</a>
                <a href="#" class="pages__link">Project</a>
                <a href="#" class="pages__link">Blog</a>
            </div>
            <div class="contacts">
                <h2 class="contacts__heading">Contact</h2>
                <p class="contacts__text">55 East Birchwood Ave. Brooklyn, New York 11201</p>
                <p class="contacts__text">contact@interno.com</p>
                <p class="contacts__text">(123) 456 - 7890</p>
            </div>
        </footer>
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="js/blog.js"></script>
    <script>
        const app = Vue.createApp({
                components: {
                    Article,
                }
            }).mount('#app');
        
    </script>
</body>

</html>